# IPython
.ipynb_checkpoints

# Environment
.vscode/
__pycache__/

# Testing Files and data
tests/
test_*
retired/

# Tensorboard Folders
*tensorboard*
*.h5

# Archives for uploading
*.zip

# Local config
config.py

# Output
data/
results/
tensors/