# IPython
.ipynb_checkpoints

# Environment
.vscode/
__pycache__/

# Data 
data/

# Testing Files and data
tests/
test_*
retired/

# Tensorboard Folders
*tensorboard*
*.h5

# Archives for uploading
*.zip

# Local config
config.py