# IPython
.ipynb_checkpoints

# Environment
.vscode/
__pycache__/

# Data 
data/
data_*

# File archive
retired/

# Testing Files and data
Miscellaneous.ipynb
tests/
test_*

# Mass testing notebooks for DLW
*MassTesting*
GeoErrors_Utility.ipynb

# Tensorboard Folders
*tensorboard*
*.h5

# Archives for uploading
*.zip

